button {
  padding: 8px 16px;
  cursor: pointer;
}

.showModal {
  background: linear-gradient(#9198e5,#e66465);
  width: 99.75vw;
  height:0vh;
  position: absolute;
  bottom: 10px;
  left:0;
  z-index: 10;
  border-radius: 40px 40px 0px 0px;
  /* border: solid white 2px; */
  overflow-y: scroll;
  transition: height 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: bottom;
}

.showModal.grow {
  height:100%;
  border: solid white 2px;
  overflow-y: scroll;
}
