.showModal {
  background: darkblue;
  width: 99.75vw;
  height:0vh;
  position: absolute;
  bottom: 0px;
  left:0;
  z-index: 10;
  border-radius: 40px 40px 12px 12px;
  /* border: solid white 2px; */
  overflow-y: scroll;
  transition: height 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: bottom;
}

button:hover{
  cursor: pointer;
}

@media only screen and (max-width: 640px){
  .showModal.grow {
    height:88%;
    border: solid white 2px;
    overflow-x:hidden;
  }
}
@media only screen and (min-width: 640px){
  .showModal.grow {
    height:90%;
    border: solid white 2px;
    overflow-y: hidden;
    overflow-x:hidden;
  }
}
