.App {
  /* background-color: #FFEA9F; */
  background: linear-gradient(#e66465, #9198e5);
}

section{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  scroll-snap-align: center;
}

.Profile-pic{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid white;
  margin: 20px;
}

a{
  color: white;
    display: flex;
    text-decoration: none;
    align-items: center;
}

ul{
  list-style: none
}

li{
  list-style: none;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: solid 1px white;
  display: flex;
  align-items: center;
  font-size:18px;
}

h1{
  font-family: 'Fjalla One', sans-serif;
  font-size: 50px;
  margin:0px;
}

h3{
  margin: 0px;
}

li:hover, .Nav-link:hover, a:hover{
  text-shadow: 0px 0px 10px rgba(255,255,255,0.5);
}

.Glow{
  text-shadow: 0px 0px 10px rgba(255,255,255,0.5);
}

.Social-link{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  padding-top: 10px;
}

#About, #Projects, #Contact{
  visibility: visible;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.width-90{
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Section-title{
  position: absolute;
  top: 80px;
  left: 40px;
  color: #ffffff7d;
  font-size: 80px;
}

.Name{
  background: -webkit-linear-gradient(0.5turn, rgba(255, 255, 255, 0.495), rgba(255, 255, 255, 0.495));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
}

.Subtitle{
  font-family: 'Fjalla One';
    font-size: 30px;
    width: 90%;
    display: flex;
}

html{
  scroll-snap-type: y mandatory;
}

.About-text {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  margin: 0;
  padding-top: 30px;
}

.About-section{
  width: 90%;
  display: flex;
  justify-content: flex-end;
  /* text-align: right; */
}

.underline{
  text-decoration: underline;
}
.center{
  text-align: center;
}

.P-l-r-10{
  padding-left: 10px;
  padding-right: 10px;
}
