.App-header{
  background-color: #F8F1FF;
}

section{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  scroll-snap-align: center;
  overflow-y: hidden;
}

.Profile-pic{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-top:-30px;
}

a{
  display: flex;
  text-decoration: none;
  align-items: center;
  font-family: 'JetBrains Mono', monospace;
}


h1{
  font-family: 'Jomolhari', serif;
  font-size: 45px;
  margin:0px;
}

h3{
  font-family: 'SF-Pro-Light';
  margin:0;
  color:#1C5BFF;
  font-size: 80px;
  letter-spacing: -10px;;
}

p{
  font-size: 24px;
  font-family: 'SF-Pro-Light';
  color:#1C5BFF;
}

.Nav-link:hover, .Glow:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 25px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8), 0 0 35px rgba(255, 255, 255, 0.8);
}

#Projects{
  background: #534D56;
}

#About{
  background-color: #1C5BFF;
}

.About-links{
  border: solid 1px #1C5BFF;
  border-radius:20px;
}

.Section-title{
  position: absolute;
  font-size: 64px;
  font-family: 'Jomolhari', serif;
  letter-spacing:-4px;
}

.Name{
  font-family: 'Jomolhari', serif;
  font-size: 128px;
  color:#534D56;
  letter-spacing:-10px;
}

html{
  scroll-snap-type: y proximity;
}


.Social-icon{
  padding:5px;
  font-size: 30px;
  color: #1C5BFF;
}

.Social-icon:hover{
  transform: rotate(360deg);
  transition-duration: 1s;
}

.Flex{
  display:flex;
  width:90%;
}

.location{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  width:90%;
}

.remote{
  margin:0;
  font-family: 'SF-Pro-Regular';
  letter-spacing: -2px;
}

.pt-20{
  padding-top: 20px;
}

.Blue-title{
  color: #1C5BFF;
  top:40px;
}

.blue{
  color: #1C5BFF;
}

@media only screen and (max-width: 640px){
  .About-links{
    display:flex;
    flex-direction:row;
    align-items: center;
    position: absolute;
    bottom: 10px;
  }
  .Name{
    text-align: left;
    width:100%;
    margin-top: -80px;
  }

  .text-right{
    text-align: right;
    width: 100%;
  }


  li{
    margin: 2px;
    width: fit-content;
    padding-right: 8px;
  }


  .App-header{
    margin-top: -60px;
    margin-bottom: 60px;
  }

  .reverse-col{
    display:flex;
    flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 640px){

  .About-links{
    display:flex;
    align-items: center;
  }


  #Projects, .App-header, .reverse-column{
  }

  li{
    margin: 10px 5px;
  }
  .center{
    text-align: center;
  }

}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease;
}

.animate-on-scroll.animate {
  opacity: 1;
  transform: translateY(0);
}
