.Project-img{
  display:none;
}
.Gallery{
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Dots{
  position: absolute;
  bottom: -60px;
  display: flex;
}

.Active-dot::after {
  transform: rotate(0) scale(2);
  background: purple;
}

.Dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid white 1px;
  padding: 5px;
  margin: 5px;
  background-color:rgba(255, 255, 255, 0.456);
  transition: transform 250ms;
  transition-delay: 200ms;
 }

 .Active-dot{
  background-color: white;
  transform: scale(1.2);
 }

 .Next-button{
  background:none;
  border:none;
  color:white;
  font-size:60px;
  position:absolute;
  right:-200px;
 }

 .Back-button{
  background:none;
  border:none;
  transform: rotate(-180deg);
  color:white;
  font-size:60px;
  position:absolute;
  left:-200px;
 }

 @media only screen and (max-width: 640px){
  .Image{
    width: 100%;
    height:auto;
    border-radius:5px;
   }
   .Active-img{
    height: auto;
    width: 90%;
    display: flex;
    position: relative;
    justify-content: center;
    margin-top:64px;
  }
  .Gallery{
  }

  .Mobile-image{
    height:auto;
    width:70%;
    border-radius:5px;
   }
}

@media only screen and (min-width: 640px){
  .Image{
    width: auto;
    height:100%;
    border-radius:5px;
   }
   .Active-img{
    height: 450px;
    width: auto;
    display: flex;
    position: relative;
    justify-content: center;
  }
  .Gallery{
    padding-left:30px;
  }
  .Mobile-image{
    height:100%;
    border-radius:5px;
   }
}
