body {
  margin: 0;
  /* font-family: 'Sono', sans-serif; */
  /* font-family: 'Work Sans', sans-serif; */
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

/* add this class to body when the modal is open */
.stop-scrolling {
  overflow: hidden;
}

@font-face {
  font-family: 'SF-Pro-Light';
  src: local('SF-Pro-Light'),
  url(./fonts/SF-Pro-Text-Ultralight.otf) format('opentype');
}
@font-face {
  font-family: 'SF-Pro-Regular';
  src: local('SF-Pro-Regular'),
  url(./fonts/SF-Pro-Text-Regular.otf) format('opentype');
}
