body {
  margin: 0;
  /* font-family: 'Sono', sans-serif; */
  /* font-family: 'Work Sans', sans-serif; */
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

/* add this class to body when the modal is open */
.stop-scrolling {
  /* height: 100vh; */
  overflow: hidden;
}
