
.links{
  margin:10px;
  display: flex;
  justify-content: center;
}

.Modal-btn{
  margin: 5px;
  padding: 15px 25px;
  background:white;
  border-radius: 30px;
  font-family: 'SF-Pro-Regular';
  font-size: 20px;
  color:#534D56;
  border:solid 1px white;
  background:#534D56;
  color:white;
}

.Modal-btn:hover, .Modal-btn.active{
  background:white;
  color:#534D56;
}

@media only screen and (max-width: 640px){

  .Gallery-desc-div{
    display:flex;
    flex-direction:column;
    align-items: center;
  }
  .X-button{
    background: none;
    border: 0px;
    color: white;
    font-size: 30px;
    position: absolute;
    right: -10px;
    top: 20px;
  }
  .links{
    padding-top:10px;
    padding-bottom:20px;
  }
  .Mobile-desktop-btns{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 66px;
    left:20px
  }

}

@media only screen and (min-width: 640px){
  .Gallery-desc-div{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .X-button{
    background: none;
    border: 0px;
    color: white;
    font-size: 50px;
    position: absolute;
    right: 25px;
    top: 25px;
  }
  .Mobile-desktop-btns{
    display: flex;
    position: absolute;
    top: 40px;
    left:40px;
  }

}
