.height-zero{
  height:0;
}

.Gallery-desc-div{
  display:flex;
}

.Desc{
  padding: 0px 30px;
}

.X-button{
  background: none;
  border: 0px;
  color: white;
  font-size: 30px;
  transition: transform 1s;
  position: absolute;
  right: 20px;
  top: 20px;
}

.X-button:hover{
  transform: rotate(90deg);
}

.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}

.Project-modal-title{
  display:flex;
  width:100%;
  justify-content: flex-start;
  color: #ffffff7d;
  font-size: 80px;
  padding: 20px 0px 0px 30px;
}

.Mobile-desktop-btns{
  display: flex;
  width: 730px;
  padding-left: 30px;
  justify-content: flex-end;
  position: absolute;
  top: 60px;
}
