.height-zero{
  height:0;
}

.Gallery-desc-div{
  display:flex;
}

.Desc{
  overflow-y: scroll;
  height: 55vh;
  margin: 0px;
  font-size:20px;
}
.Description{
  text-decoration: underline;
  text-align: left;
  font-size:25px;
}

.Modal-text{
  padding: 0px 30px 0px 30px;
}

.X-button{
  background: none;
  border: 0px;
  color: white;
  font-size: 30px;
  transition: transform 1s;
  position: absolute;
  right: 20px;
  top: 20px;
}

.X-button:hover{
  transform: rotate(90deg);
}

.Project-modal-title{
  display:flex;
  width:100%;
  justify-content: flex-start;
  color: #ffffff7d;
  font-size: 80px;
  padding: 10px 0px 0px 30px;
}

.Mobile-desktop-btns{
  display: flex;
  width: 730px;
  padding-left: 30px;
  justify-content: flex-end;
  position: absolute;
  top: 55px;
}

.links{
  display: flex;
  justify-content: center;
}

.Modal-btn{
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
