.Navbar{
  height: 10vh;
  position: sticky;
  top: 0px;
  display:flex;
  justify-content: flex-end;
  align-items:center;
  width: 100%;
  z-index: 10;
  backdrop-filter: invert(100%);
}

.Nav-item{
  padding: 15px;
}

.Nav-link{
  display: inline-block;
  position: relative;
  color: white;
}


.Button{
  padding: 10px;
  margin: 5px;
  border: solid 1px white;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.456);
  color: white;
  text-decoration: none;
  font-family: 'Sono', sans-serif;
  font-size: 16px;
  box-shadow: 0 2px 0 white;
  z-index: 5;
  display: flex;
  align-items: center;
}

.Dark-button{
  padding: 10px;
  margin: 5px;
  border: solid 1px slategrey;
  border-radius: 12px;
  background: rgb(112, 128, 144, 10%);
  color: slategrey;
  text-decoration: none;
  font-family: 'Sono', sans-serif;
  font-size: 16px;
  box-shadow: 0 2px 0 slategrey;
  z-index: 5;
  display: flex;
  align-items: center;
}

.Resume{
  margin-right: 20px;
}

.Button:hover, .Dark-button:hover{
  box-shadow: none;
  transform: translate(0, 0.2rem);
  transition-duration: 0.4s;
}
