.Navbar{
  position: absolute;
  top: 0px;
  display:flex;
  align-items:center;
  z-index: 10;
  padding:10px;
}

.Nav-item{
  padding: 10px;
}

.Nav-link{
  display: inline-block;
  position: relative;
  color: #534D56;
}

.Resume{
  margin: 5px;
  padding:3px 10px;
  border-radius: 20px;
  color:white;
  background-color: #534D56;
}

.Resume:hover{
  border: solid 1px #534D56;
  color:#534D56;
  background-color: transparent;
}

@media only screen and (max-width: 640px){
  .Navbar{
    height: 10vh;
    justify-content: space-between;
  }
  .no-scroll-snap{
    scroll-snap-align:none !important;
  }
}
@media only screen and (min-width: 640px){
  .Navbar{
    justify-content: flex-start;
  }
  .no-scroll-snap{
  }
}
