.Project-img{
  height: 400px;
}

.Project{
  display:none;
}

.Tech-stack{
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
  padding-left: 30px;
}

.Tech-stack-show{
  display: flex;
  justify-content: center;
  margin-top:5px;
}

.Project-section{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 90vh;
}

.Display-img{
  height: 327px;
  width: 600px;
  border-radius:10px;
  align-self:center;
}

.Project-title{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: auto;
  position: relative;
  margin-bottom:10px;
}


.Pic-tech-div{
  display:flex;
  flex-direction: column;
  position: relative;
  cursor: none;
}

.Title{
  padding-bottom: 20px;
}

#Project-btn-fwd{
  flex: 1;
  cursor: none;
  background:none;
  border:none;
  padding: 0px;
  font-size: 22px;
}


#Project-btn-back{
  flex:1;
  cursor: none;
  background:none;
  border:none;
  padding: 0px;
  font-size: 22px;
}

#Next-cursor, #Back-cursor, #See-more{
  cursor: none;
  width: 100px;
  height: 100px;
  position: absolute;
  opacity: 0;
  z-index: 1000;
  pointer-events: none;
  color:greenyellow;
  display:flex;
}
#See-more{
  opacity: 1;
  text-align:center;
}

.Project-number{
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.Active-project{
  flex:3;
  padding-top: 80px;
  display:block;
  width: 100vw;
  height:90vh;
}
.Project-button{
  background:none;
}
