.Project-img{
  height: 400px;
}

.Project{
  display:none;
}
.Pic-tech-div{
  display:flex;
  flex-direction: column;
  position: relative;
  cursor: none;
}

.Title{
  padding-bottom: 20px;
}

.Project-number{
  font-size: 25px;
  position: absolute;
}

.Project-button{
  background:none;
}

@media only screen and (max-width: 640px){
  .Project-title{
    display:flex;
    margin-bottom:10px;
    margin-left:20px;
    flex-direction:column;
  }
  .Display-img {
    height: auto;
    width: 95%;
    align-self: center;
    border-radius: 10px;
  }
  .Tech-stack-show{
    display: flex;
    margin-top:5px;
    flex-wrap:wrap;
    margin-left:10px;
  }
  .Project-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:40px;
  }
  .Active-project{
    flex:3;
    display:block;
    width: 100vw;
    height:90vh;
  }
  #Project-btn-fwd{
    cursor: none;
    background:none;
    border:none;
    font-size: 40px;
    position: absolute;
    width: 50%;
    bottom: 9%;
    left: 50%;
  }

  #Project-btn-back{
    cursor: none;
    background:none;
    border:none;
    font-size: 40px;
    position: absolute;
    width: 50%;
    bottom: 9%;
    right: 50%;
  }
  .Tech-stack{
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    padding: 10px 20px;
  }
  .see-more-text{
    margin:0;
    display: block;
  }
  #Next-cursor, #Back-cursor, #See-more{
    display: none;
  }
  .Project-number{
    bottom: 5px;
    right: 5px;
  }
}
@media only screen and (min-width: 640px){
  .Project-title{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: auto;
    position: relative;
    margin-bottom:10px;
    cursor: none;
  }
  .Display-img{
    height: 327px;
    width: 600px;
    border-radius:10px;
    align-self:center;
  }
  .Tech-stack-show{
    display: flex;
    justify-content: center;
    margin-top:5px;
  }
  .Project-section{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 90vh;
  }
  .Active-project{
    flex:3;
    padding-top: 80px;
    display:block;
    width: 100vw;
    height:90vh;
  }
  #Project-btn-fwd{
    flex: 1;
    cursor: none;
    background:none;
    border:none;
    padding: 0px;
    font-size: 22px;
  }

  #Project-btn-back{
    flex:1;
    cursor: none;
    background:none;
    border:none;
    padding: 0px;
    font-size: 22px;
  }
  .Tech-stack{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    padding-left: 30px;
  }
  #See-more{
    opacity: 1 !important;
    text-align:center;
  }
  #Next-cursor, #Back-cursor, #See-more{
    cursor: none;
    width: 100px;
    height: 100px;
    position: absolute;
    opacity: 0;
    z-index: 1000;
    pointer-events: none;
    color:greenyellow;
    display:flex;
  }
  .see-more-text{
    display:none;
  }
  .Project-number{
    bottom: 20px;
    right: 20px;
  }
}
