.Project-img{
  height: 400px;
}

.Project{
  display:none;
}

.Tech-stack{
  display: flex;
  justify-content: center;
}

.Project-section{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.Display-img{
  height: 300px;
  width: 550px;
  border-radius:20px;
  /* display:block;
  position:relative; */
  align-self:center;
}

.Project-title{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  margin: auto;
  position: relative;
}

.Pic-tech-div{
  display:flex;
  flex-direction: column;
  position: relative;
}

.Title{
  padding-bottom: 20px;
}

.Project-btn-fwd{
  position:absolute;
  right: 20px
}

.Project-btn-back{
  position:absolute;
  left: 20px
}

.See-more{
  position:absolute;
  right: 0px;
}

.Project-wrapper{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.Active-project{
  position: absolute;
  left: -90vw;
  display:block;
  width: 100vw;
  height:90vh;
  -webkit-animation: slide 1s forwards ease-in-out;
  animation: slide 1s forwards ease-in-out;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}
